{% extends "CSV/layout.html" %}
{% block body %}
<button style="background-color:red;align-items: right;"><a id="dos" href="index.html"
    style="text-decoration:none;color:black;background-color: red;text-align: right;line-height: 50%;"><b>Cerrar Sesión y volver a la Página
        Principal</b></a></button>
<form action="{% url 'CSV:login' %}" method="POST"> 
    {% csrf_token %}
    <h2 style="color: white; background-color: rgb(236, 108, 133);display:inline;text-align: center;">USUARIO ADMINISTRADOR: <input readonly type="text" name="usuario" value="ADRIAN"></h2><img src="https://e7.pngegg.com/pngimages/420/4/png-clipart-login-computer-icons-login-button-miscellaneous-angle.png" width="20" height="20"><input type="submit" style="background-color: greenyellow;" value="Sesión como Administrador">
    <br>
    <br>
    <h1 class="clase">Usuarios que se han Registrado en CSV</h1>
    <br>
</form>
    <ol>
            {% for u in usuarios %}
            <li style="display:inline-block;flex-wrap:nowrap;background-color: black;text-align: center;">
                {{ u.Usuario }}
                <form action="{% url 'CSV:borrar' %}" method="POST"> 
                    {% csrf_token %}
                    <input readonly hidden type="text" name="usuario" value="{{ u.Usuario }}"><input type="submit" style="background-color: red;" value=" Eliminar Usuario">
                    </form>
            </li>
            {% endfor %}
    </ol>
 
{% endblock %}